{% extends 'layouts/front' %}

{% block content %}
    {% raw %}
    <div id="app" class="full-height" v-cloak>
        <div class="full-height" v-if="state == 1">
            <div class="backdrop">
                <div class="wash"></div>
                <div class="line"></div>
            </div>

            <div class="container full-height" v-on:click="contextClick">
                <div class="row main full-height">
                    <div class="navigator full-height" v-bind:class="{ 'col-xs-5' : !loggedIn, 'col-xs-3' : loggedIn }">
                        <transition name="fade">
                            <div class="user-info" v-show="loggedIn">
                                <div class="content">
                                    <p>Logged in as</p>
                                    <h2>Lorem Ipsum</h2>
                                </div>
                            </div>
                        </transition>

                        <img src="/assets/img/logo.svg" />

                        <transition name="slide-fade">
                            <ul class="positions" v-show="showBallot">
                                <li v-for="(position, index) in data.positions"
                                    v-on:click="positionIndex = index"
                                    v-bind:class="{ 'active' : positionIndex == index }">

                                    <span>{{ position.name }}</span>
                                    <span class="icon-check" v-bind:class="{ 'visible' : getVoteFromPosition(position.id, false) }"></span>
                                </li>
                            </ul>
                        </transition>
                    </div>

                    <div class="view-parent full-height col-xs">
                        <transition name="slide-fade">
                            <div class="view login-view" v-if="!loggedIn">
                                <h1 class="welcome heading">SEC Elections</h1>
                                <h2 class="welcome subheading">cast your vote!</h2>

                                <form class="login-form" v-on:submit.prevent="login">
                                    <div class="form-item">
                                        <label for="voterId">Voter&lsquo;s Identification Code:</label>
                                        <input id="voterId" ref="voterIdField" type="text" name="voterId" autocomplete="off" />
                                    </div>

                                    <button type="submit">
                                        Continue <span class="icon-navigate_next"></span>
                                    </button>
                                </form>
                            </div>

                            <div class="view after-login-view" v-else>
                                <transition name="fade">
                                    <div class="view vote-view" v-show="showBallot">
                                        <div class="full-height position-view"
                                             v-for="(position, index) in data.positions"
                                             v-show="positionIndex == index">
                                                
                                            <div class="heading">
                                                <h1>Choose your <strong>{{ position.name }}</strong></h1>
                                                <p>Click on the candidate card to select your vote.</p>
                                            </div>

                                            <div class="row candidates">
                                                <div class="col-md-4"
                                                     v-for="(candidate, index) in data.candidates"
                                                     v-if="candidate.position_id == position.id">

                                                    <div class="candidate"
                                                         v-on:click="putVote(position.id, candidate.id)"
                                                         v-bind:class="{ 'active' : isVoted(position.id, candidate.id) }">
                                                        
                                                        <div class="selected">
                                                            <span class="icon-check"></span>
                                                            <span class="text">Selected</span>
                                                        </div>
                                                        <img v-bind:src="'/assets/img/mockup/' + candidate.picture" />
                                                            
                                                        <div class="info">
                                                            <h2>{{ candidate.name }}</h2>
                                                            <p>{{ candidate.description }}</p> 
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="action">
                                                <button v-on:click="showVoteSummary()"
                                                        v-bind:disabled="!canFinish()"
                                                        v-if="index == data.positions.length - 1">
                                                    Finish <span class="icon-navigate_next"></span>
                                                </button>

                                                <button v-on:click="positionIndex++"
                                                        v-bind:disabled="!getVoteFromPosition(position.id, false)"
                                                        v-else>
                                                    Next <span class="icon-navigate_next"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </transition>

                                <transition name="slide-fade">
                                    <div class="view summary-view full-height" v-show="showSummary">
                                        <h1>Your Digital Ballot</h1>

                                        <div class="candidates-summary">
                                            <div class="row">
                                                <div class="col-xs-6 candidate"
                                                     v-for="(position, index) in data.positions"
                                                     v-if="getVoteFromPosition(position.id, false)">

                                                    <img v-bind:src="'/assets/img/mockup/' + getVoteFromPosition(position.id).picture" />

                                                    <div class="info">
                                                        <h1>{{ getVoteFromPosition(position.id).name }}</h1>
                                                        <p>{{ getPosition(position.id).name }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="action">
                                            <button v-on:click="changeVotes()" :disabled="disableActionButton">
                                                Change My Votes
                                            </button>

                                            <button v-on:click="submitVotes()" :disabled="disableActionButton">
                                                Submit My Votes <span class="icon-check"></span>
                                            </button>
                                        </div>
                                    </div>
                                </transition>

                                <transition name="slide-fade">
                                    <div class="view finished-view full-height" v-show="showFinished">
                                        <span class="icon icon-check"></span>
                                        <h2>Your vote has been submitted</h2>
                                        <h1>Thank you for voting!</h1>

                                        <button v-on:click="logout">Continue</button>
                                    </div>
                                </transition>
                            </div>
                        </transition>
                    </div>
                </div>
            </div>
        </div>

        <div class="error-view" v-if="state == 0">
            <h1>Voting Closed</h1>
        </div>

        <div class="error-view" v-if="state == -1">
            <h1>Connection Error</h1>
            <p>The server refused the connection</p>
        </div>

        <div class="error-view" v-if="state == -2">
            <h1>Service Unavailable</h1>
            <p>Please check network connection</p>
        </div>
    </div>
    {% endraw %}

    <script>
        var data = {
            positions: {{ positions | json | safe }},
            candidates: {{ candidates | json | safe }}
        };
    </script>
{% endblock %}