{% extends '../layouts/dashboard' %}

{% set page_title = 'Error' %}

{% block subcontent %}
  <div class="row page-content">
    <div class="large-12 columns">
      <div class="row">
        <div class="large-12 columns">
          <h1>Error</h1>
          <p>You do not have permission to access this resource.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
