{% extends '../layouts/dashboard' %}

{% set page_title = 'Login' %}
{% set body_class = 'login' %}

{% set error = old('error') %}

{% block content %}
  <div class="row">
    <div class="large-4 large-offset-4 columns">
      <div class="login-container">
        {% if error %}
          <div class="callout alert small" data-closable>
            <small>{{ error }}</small>
          </div>
        {% endif %}

        {{ form.open({ route: 'dashboard.login.post' }) }}
          {{ csrfField }}

          <div class="row">
            <div class="large-12 columns">
              <label>
                Username <input type="text" name="username" value="{{ old('username') | default('') }}" autofocus />
              </label>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns">
              <label>
                Password <input type="password" name="password" />
              </label>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns actions">
              <button class="button expanded" type="submit">Login</button>
            </div>
          </div>
        {{ form.close() }}
      </div>
      <div class="login-credits">
        <small>SECV Server &bullet; STI College Novaliches</small>
      </div>
    </div>
  </div>
{% endblock %}
