{% extends '../../layouts/dashboard' %}

{% set page_title = 'Positions' %}
{% set active_nav = 'positions' %}

{% set error = old('error') %}

{% block subcontent %}
  <div class="row page-heading">
    <div class="small-6 columns">
      <h4>{{ page_title }}</h4>
    </div>

    <div class="small-6 columns actions">
      <a href="{{ url('dashboard.positions.add') }}" class="button">Add Position</a>
    </div>
  </div>

  <div class="row page-content">
    <div class="large-12 columns">
      {% include '../../partials/flash' %}
      <table>
        <thead>
          <tr>
            <th>Order</th>
            <th>Name</th>
            <th>Candidates</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for position in positions.toJSON() %}
            <tr>
              <td>{{ position.order }}</td>
              <td>{{ position.name }}</td>
              <td>{{ position.candidates.length }}</td>
              <td class="fit">
                <a href="{{ url('dashboard.positions.edit', { id: position.id }) }}" class="button hollow">Edit</a>
                <a href="{{ url('dashboard.positions.delete', { id: position.id }) }}" class="button hollow alert">Delete</a>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="4">No results</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
