<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SEC UI</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/front.css" />
</head>
<body>
    {% block content %}{% endblock %}
    <!--<script src="/assets/js/vue.min.js"></script>-->
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>
